* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
    font-family: sans-serif;
    color: #ffffff;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    overflow-y: auto;
    /* height: 400vh; */
    background-color: #181818;
}

#progress-bar {
    width: 100%;
    height: 7.5px;
    position: sticky;
    top: 4vw;

    --netWidth: 0%;
    background: linear-gradient(to right, #1ecff2 var(--netWidth), transparent 0);

    background-color: rgba(79, 76, 72, 0.217);
    /* z-index: 2; */
}

header {
    display: flex;
    width: 96%;
    margin: 0 auto;
    font-family: cursive;
    justify-content: space-between;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

h1 {
    color: #39c4c2;
    /* border: 2px solid black; */
    width: auto;
    text-align: center;
    font-size: calc(20px + 2.5vw);
    /* font-size: 24px; */
    display: flex;
    align-items: center;
    font-family: sacramento;
}

abbr {
    text-decoration: none;
}

#profile {
    height: 5rem;
    width: 5rem;
    background-image: url('profile-pic.webp');
    background-size: cover;
    background-position: center;

}


#sub-menu {
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid violet; */

    margin-top: 10px;
}



#sub-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
}

#sub-menu ul li {
    transition: padding .1s;
    border-left: 3px solid #0a6d7e00;
    border-right: 3px solid #0a6d7e00;

    text-transform: capitalize;
    display: inline-block;
    margin-right: 2%;
    /* font-size: 2vw; */
    font-size: calc(5px + 1.5vw);
    /* font-size: 16px; */
    font-size: calc(8px + 1.25vw);

    letter-spacing: 1px;
}

#sub-menu ul li:hover {
    /* --HW:(.1vw +.1vh);
    border: var(--HW) solid #0a6c7e; */
    display: flex;
    align-items: center;
    height: 100%;

}

#sub-menu ul li a:hover {
    color: #ffffff;
}

#sub-menu a {
    /* vertical-align: middle; */
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    /* font-weight: 600; */
    font-size: calc(10px + 1vw);
    font-size: 2rem;
}

#sub-menu {
    width: 100%;
    height: 4vw;
    /* border: 2px solid rgb(0, 0, 0); */
    position: sticky;
    top: 0;
    z-index: 2;


    background: linear-gradient(to right, rgba(80, 249, 204, 0.87) 0%, #00d9ffde 100%);
}




section {
    padding-top: 5vw;
    width: 90%;
    margin: 5vw auto;
    margin: 0vw auto;
    padding: 6vw;
    text-align: center;
    /* line-height: 2; */

    /* border: 2px solid red; */
}

hr {
    width: 90%;
    margin: 0 auto;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;

}

#name-box {
    width: 50%;
    height: auto;
    /* background-color: #a7e0e0; */
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

#developer-box {
    width: 50%;
    background-color: #000397;
    height: auto;
    background-image: url('developerimg.gif');
    background-position: center;
    background-size: cover;

    height: 50vh;
    border-radius: 1rem;
    opacity: .75;
}

.purple {
    color: rgb(170, 107, 228);
}

.dark-green {
    color: #009797;
}

h2 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .25rem;
    border-bottom: 5px solid rgb(32, 179, 152);
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.my-skills {
    width: 100%;
    height: auto;
    /* background-color: #202020; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.skill-card {
    width: 300px;
    /* height: 400px; */
    background-color: #212121;
    margin: 30px;
    border-radius: 2rem;

    box-shadow: rgba(120, 244, 201, 0.836) 0px 3px 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.skill-circle {
    --done: 75%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: conic-gradient(#00ffd9 0% calc(1 * var(--done)),
            #f8fffb86 0% 100%);

    margin: 2rem auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.top-circle {
    /* position: relative; */
    /* top: 50%;
      left: 50%;
    transform: translate(-50%, -50%); */
    font-size: 18px;
    color: #333;

    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
}

.percentage {
    /* position: absolute; */
    font-size: 2rem;
    color: #ffffff;
}

.skill-name {
    margin-bottom: 2rem;
    font-size: 1.5rem;

}



/* #add {
      display: none;
} */

#projects-container {
    /* border: 5px solid black;
    border-radius: 3px; */
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* height: auto; */
}

.card {
    /* width: 320px; */
    height: 400px;
    /* border: 2px solid black; */
    border-radius: 1vw;
    margin-bottom: 50px;
    margin: 20px;
    /* padding: 2rem; */
    overflow: hidden;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: rgba(120, 244, 201, 0.836) 0px 3px 8px;
    transition: 0.3s;
    /* text-overflow: ellipsis; */
    background-color: rgb(243, 244, 246);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


.clock-img{
    background: url('clock.gif');
}
.website-img{
    background: url('website.gif');
}
.todolist-img{
    background: url('todo.gif');
}
.pokedex-img{
    background: url('pokedex.gif');
}
.ttms-img{
    background: url('timetable.gif');
}
.portfolio-img{
    background: url('portfolio.gif');
}
.tosscoin-img{
    background: url('tosscoin.gif');
}
.card-img {
    border-bottom: 20px solid blueviolet;
    width: 100%;
    height: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-title {
    position: relative;
    top: 1%;
    color: rgb(7, 152, 255);
    font-size: 2rem;
    border-bottom: 5px solid rgb(145, 0, 198);
    margin: 2% 15%;
}

/* hidden and white-space: nowrap */
.card-description {
    margin: 1.5rem;
    margin-top: 5%;
    /* position: relative;
    top: -10%; */
    color: #009797;
    /* border: 1px solid black; */
    text-align: left;
    /* padding-left: 1rem; */
    padding-left: .5rem;



    /* white-space: nowrap;
    white-space: normal; */

    height: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#resume {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


    /* display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 60%;
    justify-content: center; */
}

.passport-img {
    width: 30%;
    height: 50vh;
    background-image: url('passport-img.png');
    background-position: center;
    background-size: cover;
    /* background-color: #000397; */
}

.about-me {
    width: 50%;
    /* background-color: #000397; */

    font-size: 1.25rem;
}

#download-resume {
    font-size: 2rem;
    background-color: #29b49f;
    color: rgb(255, 255, 255);
    margin-top: 4rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: .25rem solidrgb(47, 130, 116)d;
}

#download-resume:hover {
    background-color: #ffffff;
    color: #29b49f;
    cursor: pointer;
}




.contact-container {
    display: flex;
    align-items: center;
    /* border: 5px solid blueviolet; */
}

#contact-details {
    /* border: 2px solid red; */
    margin-top: 0%;
    /* height: 40vh; */
    padding: 1rem 2rem;
    background-color: #252525;
    /* box-shadow: rgba(120, 244, 201, 0.836) 0px 3px 8px; */


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.detail {
    width: 100%;
    height: 100%;
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* align-items: center;    */
}

.contact-icon,
.information {
    /* border: 2px solid red; */
    /* padding-left: 2rem; */
    margin: 1rem 2rem;
}

.contact-icon>i {
    font-size: 2.5rem;
}

.information {
    text-align: left;
    font-size: 1.5rem;
}

.head {
    font-weight: bold;
}



#social-links {

    background-color: #252525;
    /* border: 2px solid red; */
    width: 50%;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 2rem;
}

#social-links>h3 {
    font-size: 2.5rem;
    border-bottom: 3px solid rgb(32, 179, 152);
    padding-top: 2rem;
}

#social-links>div {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 4rem;
    padding: 4rem 2rem;
}

#social-links>div i {
    margin: 1rem;
    opacity: .75;
}

#social-links>div i:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    background-color: #252525;
  }

@media screen and (max-width: 1300px) {

    #projects {
        grid-template-columns: auto auto;
    }

    .card {
        border: 2px solid red;
        /* width: ; */
    }

}

@media screen and (max-width: 900px) {
    #add {
        display: inline-block;
    }
    #sub-menu{
        height: 2rem;
    }
    #sub-menu a {
        font-size: 1.2rem;
        
    }

    .remove {
        display: none;
    }

    #projects {
        grid-template-columns: auto;
    }
    #projects-container {
        grid-template-columns: auto;
    }

    .card {
        border: 1px solid rgb(218, 54, 255);
        width: 400px;
        height: 320px;
    }

    #developer-box {
        display: none;
    }

    #resume {
        flex-direction: column;
    }

    .about-me>p {
        display: none;
    }

    /* #contact{
        flex-direction: column;
    } */
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 5px solid blueviolet; */
    }

    .contact-icon>i {
        font-size: 1.5rem;
    }

    .information {
        text-align: left;
        font-size: 1rem;
    }

    .contact-icon,
    .information {
        /* border: 2px solid red; */
        /* padding-left: 2rem; */
        margin: .5rem 1rem;
    }

    h2 {
        font-size: 2rem;
    }

    #social-links>h3 {
        font-size: 1.5rem;
    }



    #social-links {
        margin-top: 2rem;
        margin-left: 0;
    }

    #social-links>div {
        font-size: 3rem;
        padding: 3rem 1.5rem;
    }
}

@media screen and (max-width: 600px) {

    
    .skill-card {
        width: 200px;
    }
    
    .skill-circle {
        --done: 75%;
        width: 150px;
        height: 150px;
    }

    .card {
        border: 1px solid rgb(218, 54, 255);
        width: 300px;
        height: 320px;
    }
    

    #download-resume {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .passport-img {
        width: 50%;
        height: 30vh;
    }


    #contact-details {
        padding: 1rem 0rem;
    }
    

    #social-links>div {
        font-size: 1.5rem;
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 400px) {
    .card-title {
        font-size: 1.5rem;
    }

    #sub-menu a {
        font-size: 1rem;
    }

    .card {
        border: 2px solid rgb(255, 0, 238);
        width: 90%;
    }

}